@font-face {
  font-family: "ProximaNovaRegular";
  src: url("~style/core/fonts/ProximaNovaRegular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("~style/core/fonts/ProximaNovaBold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}