color_grey_1 = #dedede
color_grey_2 = #aaa
color_blue_1 = #82a9e0
color_white_1 = #fff
color_black_1 = #666
color_black_2 = rgba(0,0,0, 0.3)


img_flag = url('~style/core/img/flag.png')
img_arrow = url('~style/core/img/arrow.png')
img_clock = url('~style/core/img/clock.png')

var_border_radius = 12px;
